<p>
	<% fields_for :avatar do |avatar| %>
	<label for="avatar">
		<% if @user.avatar %>
		 <%= link_to @user.avatar.filename, @user.avatar.public_filename %> ersetzen:
		<% else %>
		 Benutzerbild auswählen: 
		<% end %>
	</label>
	<%= avatar.file_field :uploaded_data, :disabled => true %>
	<% end %>
</p>