<% content_for :headline do %>
Kontakt für Unternehmen
<% end %>

<div id="text-left" class="einspaltig">
<h2>Sie suchen Verstärkung?</h2>

<p>
  Interessierten Unternehmen bieten wir die Möglichkeit an, ihre an Studierende 
  und Absolventen der Wirtschaftswissenschaftlichen Fakultät gerichteten Angebote
  für Praktika, Abschlussarbeiten und den Berufseinstieg auf dieser Plattform
  zu veröffentlichen. Sprechen Sie uns an!
</p>
  
<h2>Ihre Ansprechpartnerin:</h2>

<table>
   <tr>
     <td>
         <%= image_tag "wiwi/fakultaet/luchtefeld.jpg" %>
     </td>
     <td>
         <strong>Anja Luchtefeld, M.A.</strong><br /><br />
         Dekanat Wirtschaftswissenschaften<br />
         Career Development Center<br />
         Universitätsstraße 14-16<br />
         D-48143 Münster
      </td>
     <td><br /><br />
         Raum: 169<br />
         Telefon: +49 (0)251 / 83-22927<br />
         Telefax: +49 (0)251 / 83-28399<br />
         <%= mail_to "anja.luchtefeld@wiwi.uni-muenster.de" %>      
      </td>
    </tr>
</table>


<div class="clearall" style="clear:both;"></div>
</div><!-- #text-left end -->
