<% content_for :headline do %>
Impressum
<% end %>

<div id="text-left" class="einspaltig">
																													<p>Westfälische Wilhelms-Universität Münster<br />
Schlossplatz 2, 48149 Münster<br />
Telefon: +49-251-83-0<br />
Fax: +49-251-82-32090<br />
E-Mail: <a href="mailto:verwaltung@uni-muenster.de">verwaltung@uni-muenster.de</a> <p>Die Westfälische Wilhelms-Universität Münster ist eine Körperschaft des Öffentlichen Rechts und zugleich eine Einrichtung des Landes Nordrhein-Westfalen.<br />
Sie wird vertreten durch Rektorin Prof. Dr. Ursula Nelles.</p>
<p>Umsatzsteuer-ID-Nummer: DE 126118759</p></p>									<div class="clearall" style="clear:both;"></div>																										<h2>Redaktionell verantwortlich gemäß § 10 MDStV</h2>																											<p>Westfälische Wilhelms-Universität&nbsp;&nbsp; <br />
 Wirtschaftswissenschaftliche Fakultät<br />
 Dekanat<br />
 Universitätsstr. 14 - 16<br />
 48143 Münster<br />
 Telefon: (02 51) 83 - 22910<br />
 Telefax: (02 51) 83 - 28399<br />
 E-Mail: <a class="link" href="mailto:dekanat@wiwi.uni-muenster.de">dekanat@wiwi.uni-muenster.de</a><br />
<a class="link" href="http://www1.wiwi.uni-muenster.de">
www1.wiwi.uni-muenster.de</a><br /></p>									<div class="clearall" style="clear:both;"></div>																										<h2>Dekan</h2>																											<p>Prof. Dr. Wolfgang Berens</p>									<div class="clearall" style="clear:both;"></div>																										<h2>Redaktion</h2>																											<p>Westfälische Wilhelms-Universität&nbsp;&nbsp; <br />
 Wirtschaftswissenschaftliche Fakultät<br />
 Dekanat&nbsp;&nbsp;&nbsp; <br />
 International &amp; Public Relations<br />
Dr. Stephanie Schröder<br />
 Telefon: (02 51) 83 - 22906<br />
 Telefax: (02 51) 83 - 22909<br />
 E-Mail: <a class="link" href="mailto:stephanie.schroeder@wiwi.uni-muenster.de">stephanie.schroeder@wiwi.uni-muenster.de</a><br /></p>									<div class="clearall" style="clear:both;"></div>																																<div class="clearall" style="clear:both;"></div>																										<h2>Haftung</h2>																											<p>Dieses Impressum gilt für die zentralen Informationsangebote der Verwaltung und des Rektorates der Westfälischen Wilhelms-Universität im Internet, die über die URL wiwijobs.uni-muenster.de erreichbar sind und durch den Vermerk &quot;©&nbsp; Wirtschaftswissenschaftliche Fakultät Münster&quot; gekennzeichnet sind. Für alle anderen Seiten auf diesem WWW-Server liegt die redaktionelle Verantwortung bei den jeweiligen Stellen oder Personen, die die Seiten erstellt und veröffentlicht haben.<br />
<br />

Meldungen über missbräuchliche Nutzungen, die von Stationen aus dem IP-Namensbereich 'uni-muenster.de' ausgehen, senden Sie bitte an die E-Mail-Adresse <a class="link" href="mailto:abuse@uni-muenster.de">abuse@uni-muenster.de</a>.<br />
<br />

Mitarbeiterinnen und Mitarbeiter von Einrichtungen der Universität Münster, die das Screendesign dieses Webauftritts für ihre Einrichtung übernehmen möchten, wenden sich bitte an die <a class="link" href="mailto:online-redaktion@uni-muenster.de">online-redaktion@uni-muenster.de</a>&nbsp;&nbsp; der Presse- und Informationsstelle. Von Rechnern der Universität oder über entsprechende VPN-Verbindungen erhalten sie Zugriff auf den Styleguide zum Screendesign.<br />
<br /></p>									<div class="clearall" style="clear:both;"></div>																										<h2>Disclaimer</h2>																											<p>Die Texte und Fotos auf den durch das zentrale Impressum der Westfälischen Wilhelms-Universität beschriebenen Seiten sind urheberrechtlich geschützt. Das Kopieren dieser Dateien und ihre evtl. Veränderung sind daher ohne Genehmigung des Rechteinhabers (soweit nicht anders gekennzeichnet, ist dies die Westfälische Wilhelms-Universität Münster bzw. die Wirtschaftswissenschaftliche Fakultät der Universität Münster) nicht gestattet. Unberührt davon bleibt das &quot;Kopieren&quot; der Dateien auf den eigenen Rechner, um sich die WWW-Seiten auf einem Browser anzuschauen. Ausgenommen sind ebenfalls die Pressemitteilungen der Universität. Sie sind dem Inhalt nach von jedermann frei und ohne besondere Genehmigung weiterverwendbar.<br />
 Die Zusammenstellung der Informationen auf dieser Website wurde von der Westfälischen Wilhelms-Universität Münster/Wirtschaftswissenschaftliche Fakultät mit größtmöglicher Sorgfalt vorgenommen. Dennoch kann keinerlei Gewähr für Aktualität, Richtigkeit, Vollständigkeit und Qualität der bereitgestellten Daten übernommen werden. Haftungsansprüche gegen die Westfälische Wilhelms-Universität Münster/Wirtschaftswissenschaftliche Fakultät oder die Autoren bzw. Verantwortlichen dieser Website für Schäden materieller oder immaterieller Art, die auf eventuell fehlerhaften oder unvollständigen Daten beruhen, sind, soweit nicht Vorsatz oder grobe Fahrlässigkeit vorliegt, ausgeschlossen.<br />
<br />
 Das Vorgesagte gilt auch für Informationen auf Websites, auf die mittels eines Hyperlinks verwiesen wird. Der Inhalt dieser Websites liegt vollständig außerhalb des Verantwortungsbereiches der Westfälischen Wilhelms-Universität Münster/Wirtschaftswissenschaftliche Fakultät. Die Websites waren jedoch zur Zeit der Verlinkung frei von illegalen Inhalten. Auf die Gestaltung der gelinkten Websites kann nicht Einfluss genommen werden. Für Schäden, die aus fehlerhaften oder unvollständigen Inhalten auf den mittels Link verwiesenen Websites resultieren, haften die Westfälische Wilhelms-Universität Münster/Wirtschaftswissenschaftliche Fakultät und die Autoren bzw. Verantwortlichen dieser Website nicht.<br />
<br />

Alle aus dieser Website entstehenden Rechtsstreitigkeiten unterliegen ausschließlich deutschem Recht.<br />
<br /></p>									

<div class="clearall" style="clear:both;"></div>
</div><!-- #text-left end -->