<h2>Jobangebote <%= link_to image_tag("icons/add.gif", :title => "Neues Praktikumsangebot anlegen", :class => "sanscons"), new_job_path %></h2>
<p>Filter: <%= select :filter, :to_s, [["alle", "all"], ["abgelaufene", "expired"], ["aktuelle","current"], ["unveröffentlichte","unpublished"], ["eigene","own"]], {}, { :id => "jobs_filter" } %></p>
<%= observe_field :jobs_filter, :url => jobs_path, :with => "filter", :method => :get %>

<%= render :partial => "jobs_table", :object => @jobs %>