/*
CODE:		Livingpage® für die Wirtschaftswissenschaftliche Fakultät der Universität Münster
REVISION:	1.0
LAST CHANGE:	09.04.06 bm@livingpage.com
FUNCTION:	In dieser CSS werden die eigentlichen Elemente bestimmt 

CSS nach Typen sortiert. Was wozu gehoert steht im Kommentar davor. 

Getestet auf folgenden Plattformen und Browsern:
Mac OS X: 
für gut befunden: Firefox 1.04, Safari 1.3.1
fehlerhaft: MSIE 5.2.3
Windows XP: 
für gut befunden: MSIE 5.0, 5.5, 6.0, Firefox 1.5.0.1, Opera 8.5
Linux:
für gut befunden: Linux: Firefox 1.0.7, Konqueror 3.2.1 
Nicht geeignet fuer NN4.x. (any version, any platform)

Weitere Erklaerungen gibt es bei w3.org/TR/REC-CSS2/

*/

/* ------------------------------------------------------------------------------- */
/* ----------------------------------- Banner  ----------------------------------- */
/* ------------------------------------------------------------------------------- */

#add_links {
	margin-top: 10px;
}

#add_rechts {
	padding-left: 13px;
}

/* ------------------------------------------------------------------------------- */
/* ------------------------------- Volltextsuche  -------------------------------- */
/* ------------------------------------------------------------------------------- */

#search {
    padding: 0 0 0em 0.75em;
}

#search div {
    padding-top: 0.5em;
}

#search div.searchinput input {
    width: 120px;
    margin: 0 0.5em 0 0;
}

#search div.searchinput input.subbtn {
    width: 2.3em;
    margin: 0.2em 0 0;
	padding: 0 0 0 0.2em;
	color: #FFF;
	background: #00213E;
	text-align: left;
	font-weight: bold;
	cursor: pointer;
	border: 0;
	vertical-align: top;
	line-height: 1.2em;
}

#search input.subbtn[class] {
	background-position: 0 3px;
}

#search input.subbtn:focus {
	text-decoration: underline;
}

/* Versteckt die Links für Screenreader */
.linksaussen{
    position: absolute;
    left: -1000em;
    width: 100em;
    height: 1em;
    overflow: hidden;
}

/* ------------------------------------------------------------------------------- */
/* ------------------------------- Überschriften  -------------------------------- */
/* ------------------------------------------------------------------------------- */

#main h1 { /* Main headline in center column */
    margin: 0 0 0.5em;
	color:#00213E;
	width: 100%;
	border-bottom: 1px solid #00213E;
}

#main h2 { /* Main headline in center column */
    margin: 0 0 0.5em;
	color:#00213E;
	width: 100%;
	border-bottom: 1px solid #00213E;
}

#main h2 {
    margin: 2em 0 0;
}

#right h3 {
	font-size: 70%;
	padding-left: 1em;
	color: #00213E;
}

/* ------------------------------------------------------------------------------- */
/* --------------------------------- Listen  --------------------------------- */
/* ------------------------------------------------------------------------------- */

#text ul.liste li {
    display: block;
	padding: 0;
	margin: 0;
    padding-left: 15px;
    background: url(/images/wiwi/icons/link2.gif) no-repeat left 0.25em;
	margin-top: 0.3em;
}


#text ul.liste ul  {margin-top: 0; margin-bottom: 0!important; padding-bottom: 0;}

#text ul.liste ul li  {
    display: block;
	padding: 0;
	margin: 0;
    padding-left: 15px;
    background: url(/images/wiwi/icons/link2.gif) no-repeat left 0.25em;
	margin-top: 0.3em;
font-size: 100%!important;
}

ul.linklist {
    margin: 0;
	margin-top: 1em;
}

ul.linklist li {
    display: block;
	padding: 0;
	margin: 0;
    padding-left: 15px;
    background: url(/images/wiwi/icons/link1.gif) no-repeat left 0.25em;
	margin-top: 0.3em;
}

ul.linklist li ul {
	padding: 0;
	margin: 0;
	margin-top: 0.3em;
}

ul.linklist li li {
    background: url(/images/wiwi/icons/link2.gif) no-repeat left 0.25em;
	margin: 0;
	padding: 0;
	margin-bottom: 0.2em;
	padding-left: 15px;
	}
	
#text ul.linklist li ul li a {
    font-size: 100%;
	}

/* ------------------------------------------------------------------------------- */
/* -------------------------------- Textbereiche  -------------------------------- */
/* ------------------------------------------------------------------------------- */

#text-left {
	padding:0; 
	margin:0;
	float: left;
}

#text .zweispaltig {
	width: 60%;
}

#text .einspaltig {
	width: 100%;
}

#text-right {
	float: left;
	margin: 0;
	padding: 0;
	width:35%;
	margin-left: 5%;
}

#text-right #aktuelles {
	width:100%;
	margin-bottom: 0.5em;
}

#text-right #aktuelles h2,
#text-right #termine h2 {
	margin:0;
}

#text-right #aktuelles h3 {
	margin:0em;
	margin-top: 0.5em;
}

#text-right #aktuelles p {
	margin:0em;
}

#text-right #termine {
	width:100%;
	margin-bottom: 0.5em;
}

#text-left a {
	/*text-decoration: underline;*/ /*Wurde entfernt, da von Seiten der Uni die Unterstreichung von Links nicht gewünscht wird */
	text-decoration: none;
color: #003366;
}

#text-left a:hover {text-decoration: underline;}

#text {
    margin: 1em 0 0;
	padding-bottom: 1em;
}

.zitat {
	display: block;
	background-color: #CCC;
	padding: 0.25em;
	width: 100%;
}

#text-left .zitat a {
font-size: 100%;
}

#text-right .more {
	margin-bottom: 10px; 
	display: block;
}

/* ------------------------------------------------------------------------------- */
/* ----------------------------------- Footer  ----------------------------------- */
/* ------------------------------------------------------------------------------- */

#footer {
    padding: 0 0 0 1em;
}

#footer #legal,
#footer #services,
#footer #functions {
	margin: 0;
    padding: 0;
	height: 1.2em;
	padding-top: 0.3em;
}

#footer #services {
    width: 172px;
    float: left;
}

#footer #functions {
	background-color: #E0E8EF;
	margin-left: 173px;
	margin-right: 180px;
	border-right: 1px dashed #ccc;
	border-left: 1px dashed #ccc;
	padding-left: 10px;
}

#footer #legal {
    width: 172px;
    float: right;

}

#footer #legal img {
	margin-left: 5px;
}


#footer #functions img {
	vertical-align: top;
    margin: 0;
}

#footer em {
	vertical-align: top;
    color: #000;
    font-style: normal;
}

div#functions a,
div#functions form,
div#functions input{
	float:left;
	margin:0 0 0 5px;
	padding:0;
}
em {
	float:left;
}

#footer p {
margin: 0; 
padding:0; 
margin-right: 10px; 
font-size: 65%; 
text-align:right
}

/* ------------------------------------------------------------------------------- */
/* -------------------------------- Bilder im Textbereich ------------------------ */
/* ------------------------------------------------------------------------------- */

#text #text-left .ImageLeft {
	margin-right: 10px;
	margin-top: 1em;
	float: left;
}

#text #text-left .ImageRight {
	margin-left: 10px;
	margin-top: 1em;
	float: right;
}

#text #text-left .ImageLeft img,
#text #text-left .ImageRight img {
	width: 18.2em;
}

#text #text-left .ImageLeft div,
#text #text-left .ImageRight div {
	width: 18.2em;
	font-weight: bold;
	font-size: 90%;
}

#text #text-left img.portrait {
	width: 9.1em;
	margin-right: 10px;
}

/* ------------------------------------------------------------------------------- */
/* -------------------------------------- Formulare ------------------------------ */
/* ------------------------------------------------------------------------------- */

#center form {
    padding: 0.5em 0 0;
}

#center #searchform {
    margin-top: 0;
}

#center fieldset {
    padding: 0 0 1em;
    margin: 0 0 0.5em;
}

#center form p {
    margin: 1em 0 0;
}

#center fieldset>p:first-child { /* To fix Opera 7 hiding elements following a textarea */
    border-top: 1px solid #FFF;
    position: relative;
    color: #000;
}

head:first-child+body fieldset>p:first-child {
    border: 0;
    position: static;
    color: inherit;
}

#center form textarea {
    width: 32em;
}

#center form .formLabel {
    width: 15em;
    padding: 0.5em 0 0;
    float: left;
}

#center form .formLabel label {
    font-weight: bold;
}

#center form .formElem {
    padding: 0.3em 0;
}

#center form .formGroup {
    margin: 1em 0 0;
}

#center form .inputText {
    width: 17em;
}

#center form .inputTextZip {
    width: 4em;
    margin-right: 0.4em;
}

#center form .inputTextStreet {
    width: 12em; /* Mac IE */
}

/* Hide from Mac IE \*/
#center form .formElem .inputTextStreet { /* IE */
    width: 13em;    /* IE 5 */
    w\idth: 12.5em; /* IE 6 */
}

#center form .formElem>.inputTextStreet { /* Opera */
    width: 12.4em;
}

/* End hack */


/* ------------------------------------------------------------------------------- */
/* ------------------------------------- Helfer ---------------------------------- */
/* ------------------------------------------------------------------------------- */

.clearall {
    height: 0;
    width: auto !important;
    overflow: hidden;
    float: none !important;
    clear: both;
}

.nowrap {
	white-space: nowrap;
}

.sep {
    display: block;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

.invisible {
    display: none;
}

.lang {
    color: inherit !important;
    /*	font-style: inherit !important;	*/
}

#sprungmenu {
	display: none;
}

/* ------------------------------------------------------------------------------- */
/* ------------------------ Linklisten in der Marginalspalte --------------------- */
/* ------------------------------------------------------------------------------- */

#right ul {
	margin: 0;
	padding: 0;
    position: relative;
	padding-left: 0.7em;
}

#right ul li {
    padding: 0;
    margin: 0;
	line-height: 1.2em;
	margin: 0.4em 0 0em 0;
}

#right ul li a  {
    display: block;
	padding-left: 17px;
	color: #00213E;
}

#right ul li a.intern  {
	background: url(/images/wiwi/icons/link2.gif)  no-repeat left 0.25em;
}

#right ul li a.extern  {
	background: url(/images/wiwi/icons/extern.gif)  no-repeat left center;
}

#right h3 {
	margin:0;
	padding: 0;
	padding-left: 1em;
}

#right ul.linkliste {
	margin-top:0;
	margin-bottom: 0.6em;
}

#right ul.linkliste li a {
	background: url(/images/wiwi/icons/link2.gif)  no-repeat left 0.25em;
}

/* ------------------------------------------------------------------------------- */
/* ------------------------------------ Suchausgabe ------------------------------ */
/* ------------------------------------------------------------------------------- */

h3.suchergebnis {
 margin-bottom: 0;
}

h3.suchergebnis a {
 text-decoration: none!important;
}

p.suchbeschreibung {
	margin-top:0;
}

#suchnavigation {
	margin-top: 1em;
}

#suchnavigation a {
	text-decoration: none;
}

/* ------------------------------------------------------------------------------- */
/* ------------------------------------ Links im Text ---------------------------- */
/* ------------------------------------------------------------------------------- */

a.link {
	background: url(/images/wiwi/icons/link2.gif)  no-repeat left 0.2em;
	padding-left: 12px;
}

a.newwindow {
	background: url(/images/wiwi/icons/link1.gif)  no-repeat left center;
	padding-left: 12px;
}

a.email {
	background: url(/images/wiwi/icons/link2.gif)  no-repeat left center;
	padding-left: 12px;
}

a.pdf {
	background: url(/images/wiwi/icons/link2.gif)  no-repeat left center;
	padding-left: 12px;
}

a.file {
	background: url(/images/wiwi/icons/link2.gif)  no-repeat left center;
	padding-left: 12px;
}

a.kontakt {
	background: url(/images/wiwi/icons/link2.gif)  no-repeat left center;
	padding-left: 12px;
}

/* ------------------------------------------------------------------------------- */
/* ------------------------------------- Visitenkarte ---------------------------- */
/* ------------------------------------------------------------------------------- */

#text #visitenkarte h2 {
	border-bottom: none;
	margin-bottom: 1em;
}

#text #visitenkarte span.left {
	width: 6em;
	display: block;
	float: left;
}

#text #visitenkarte br {
clear: left;
}

/* ------------------------------------------------------------------------------- */
/* ------------------------------- Sitemapausgabe -------------------------------- */
/* ------------------------------------------------------------------------------- */

#text-left #Sitemapausgabe ul {
    margin: 0;
padding: 0;
margin-top: 1em;
}

#text-left #Sitemapausgabe ul li {
    display: block;
	padding: 0;
	margin: 0;
	margin-top: 0.1em;
}	

#text-left #Sitemapausgabe ul li a {
    padding-left: 15px;
    background: url(/images/wiwi/icons/link1.gif) no-repeat left 0.25em;

}

#text-left #Sitemapausgabe ul ul {
	padding: 0;
	margin: 0;
	margin-top: 0.3em;
}

#text-left #Sitemapausgabe ul ul li {
	margin: 0;
	padding: 0;
	margin-bottom: 0.2em;
margin-left: 15px;
}

#text-left #Sitemapausgabe ul ul li a {
    background: url(/images/wiwi/icons/link2.gif) no-repeat left 0.25em;
	padding-left: 15px;
}

#text-left.zweispaltig #termine {padding-bottom: 0.6em;}
#text-left.zweispaltig #termine ul {margin-top: 0.5em;}
#text-left.zweispaltig #termine ul li {margin-top: 0.5em;}
#text-left.zweispaltig #termine h2 {margin-top:0;}

/* ------------------------------------------------------------------------------- */
/* ------------------------------- GoogleMap Ausgabe -------------------------------- */
/* ------------------------------------------------------------------------------- */

table.gmap {border:none;}

table.gmap td {border:none;}