<h2>Herzlich Willkommen</h2>

<p>
   Herzlich Willkommen im Administrationsbereich der Jobbörse der
   Wirtschaftswissenschaftlichen Fakultät der Universität Münster. 
</p>
<p>
   Sie haben hier die Möglichkeit Job-Angebote zu erstellen,
   bearbeiten oder zu löschen und können außerdem Ihre Daten
   ändern. Bitte wählen Sie in der linken Spalte die gewünschte Funktion aus.
</p>

<!--<% for news_item in @news_items %>
<h3><%=h news_item.title %></h3>
<p class="small"><%=h news_item.published_at.to_s(:long) %></p>
<div class="news_item"><%= news_item.text %></div>
<% end %>-->
